
@media only screen and (max-device-width: 480px) {
body{
	background: red;
}
#header{
	height: 200px;
	width: 100%;
}

.button{
  
	height: 50px;
	width: 250px;
	border: 5px solid black;
	margin: 20px 40px 10px 30px;
	
}
a{
	font-size: 30px;
}

#content_block1{
	width: 100%;
	height: 940px;
}
img{
	width: 250px;
	height: 250px;
}
p{
	font-size: 40px;
}
.block1{
margin: 0px 20px 0px 20px;
}


#content_block2{
margin: -30px auto;
	width:100% ;
	height: 700px;
}

#content_block3{
	margin: 30px auto;
	width: 100% ;
	height: 180px;

}




}
