body{
	background: #B97A57;
}

#header{
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	background: url(images/fon2.jpg); 
	background-size: 100%;
	padding-top: 35px; 
	margin: 0px auto;
	width: 800px ;
	height: 100px;

}

#content_block1{
	background-image:  url(images/fon.jpg);
	background-size: 100%;
	margin: 0px auto;
	width: 800px ;
	height: 500px;

}

#content_block2{
background-image:  url(images/fon3.jpg);
	background-size: 100%;
margin: 70px auto;
	width: 800px ;
	height: 400px;
	
}

#content_block3{
	background: black;
	margin: -130px auto;
	width: 800px ;
	height: 180px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}

.button{
  
	background: #8C4316;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	width: 120px;
	border: 3px solid black;
	line-height: 40px;
	margin: 20px 40px 0px 30px;
	display: inline-block; /* Строчно-блочный элемент */
}

.block1{
 	text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент */
	margin: -1.7px;
}
p {
    padding:0px;
   }


.round {
    border-radius: 100px; /* Радиус скругления */
   }

.photo {
   	text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент */
    margin: 50px 20px 20px 0px;
}